body{
    background-color: #0a0a0a;
    color: #ffffff;
    overflow-x: hidden;
    font-family: lato,sans-serif;
}
body::before {
    background-image: url(./grain.png);
    background-size: 380px 380px;
    background-repeat: repeat;
    content: "";
    height: 300%;
    left: -50%;
    opacity: .2;
    position: fixed;
    top: -100%;
    width: 300%;
    animation: grain 6s steps(10) infinite;
    z-index: -1;
}

.login-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.image{
    align-items: center;
}


form{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0 5rem 0;
}

.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

/*.upload-label{*/
/*    display: inline-block;*/
/*    padding: 12px 30px;*/
/*    background: #39D2B4;*/
/*    color: #fff;*/
/*    font-size: 1em;*/
/*    transition: all .4s;*/
/*    cursor: pointer;*/
/*}*/

/*.upload-label:hover{*/
/*    background: #34495E;*/
/*    color: #39D2B4;*/
/*}*/

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

button, .upload-label {
    font-family: lato,sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    position: relative;
    border: 3px solid #ffffff;
    border-radius: 25px;
    background-color: transparent;
    transition: .3s background-color ease-in-out;
}
button:hover, .upload-label:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #0a0a0a;
}

@keyframes grain {
    0%, 100% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-5%, -10%);
    }
    20% {
        transform: translate(-15%, 5%);
    }
    30% {
        transform: translate(7%, -25%);
    }
    40% {
        transform: translate(-5%, 25%);
    }
    50% {
        transform: translate(-15%, 10%);
    }
    60% {
        transform: translate(15%, 0);
    }
    70% {
        transform: translate(0, 15%);
    }
    80% {
        transform: translate(3%, 35%);
    }
    90% {
        transform: translate(-10%, 10%);
    }
}