<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
   <title>Sign Language Translator</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="description" content="Translate your photo with sign letter">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="login-wrapper">
    <div class="login">
      <h1>Translate your photo with sign letter</h1>
      <p> App is used to able people translate letter from American Sign Language letters to latin letters </p>

        <!-- Main Input For Receiving Query to our ML -->
        <form action="/predict" method="post" enctype="multipart/form-data">


          <label for="file" class="upload-label">
            <i class="fa fa-cloud-upload"></i> Upload file
          </label>
          <input type="file" id="file" name="file" accept="image/*" required />
          <!-- <input type = "submit" value="Upload">-->
          <button type="submit" class="btn btn-primary btn-block btn-large">Check</button>
        </form>

      <img class="image" src="{{ user_image }}" width="200px" > 
      <br>
      {{ prediction_text }}  

    </div>
    </div>
  </div>

</body>
</html>
